body {
    background: #0c0c0c;
    font-family: 'Annie Use Your Telescope', cursive;
    color: black;
    max-width:100%;
}
p {
    font-size: 20px;
    font-weight: bold;
}
#gameName {
    height: 80px;
}
.myHeader {
    height: 50px;
}

.mainContent {
    background-image: url("../images/book2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#guessedLetters {
    font-family: 'Fredericka the Great', cursive;
    font-size: 30px;
}
/* Styling Current Word */
#my-word {
    display: block;
    margin: 0;
    padding: 0;
  }
  
#my-word li {
    display: inline-block;
    position: relative;
    list-style: none;
    font-family: 'Fredericka the Great', cursive;
    font-size:30px;
    margin: 0;
    padding: 0 10px;
}
#wordForWin {
    width:100%;
    font-family: 'Fredericka the Great', cursive;
    font-size:30px;
}
/* Media Queries for Content */

@media screen and (max-width: 992px) {
    #mainText {
        max-width: 100%;
        margin-right:0;
        margin-left:0;
    }
    #bottom {
        height: 500px;
        margin-bottom:1.6em;
    }
 }
 @media screen and (max-width: 768px) {
      #gameName { 
        max-height: 50px;
 }